*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;

}
header{
    background-image: url("../clipboard-landing-page-master/images/bg-header-desktop.png");
    background-repeat: no-repeat;
}
header img{
    width: 5%;
    padding-top: 3%;
}
header h1{
    font-size: 40px;
}
#features h1{
    font-size: 30px;
}
h1, h2, h3, h4{
    color: hsl(210, 10%, 33%);
    line-height: 1.5;
    letter-spacing: 1px;
}
p{
    padding: 0 27%;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 18px;
    color: hsl(199, 17%, 77%);
}
button{
    border-radius: 35px;
    border: 1px solid hsl(171, 66%, 44%);
    background-color: hsl(171, 66%, 44%);
    color: #fff;
    width: 15%;
    margin: 3% 0.5%;
    padding: 1%;
}
button:hover{
    background-color:  hsl(171, 41%, 56%)
}
.mac{
    border: 1px solid hsl(233, 100%, 69%);
    background-color: hsl(233, 100%, 69%)
}
.mac:hover{
    background-color: hsl(233, 97%, 76%);
}
.feat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4% 4% 4% 0;
}
.feat-content{
    justify-content: space-between;
    text-align: left;
    padding: 5% 0;
}
#content{
    text-align: left;
    margin: 12% 5%;
}
#content h2{
    text-align: left;
    padding-left: 10%;
}
#content p{
    padding-left: 10%;
    padding-right: 15%;
    text-align: left;
}
.access h3{
    font-size: 30px;
}
.access img{
    margin-top: 3%;
}
.workflow h2{
    font-size: 30px;
}
.ad-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% 1% ;
}
#advantages img{
    width: 10%;
    margin: 2%;
}
#advantages p{
    padding: 4% 10%;
}
.sponsor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    margin: 3% 0;
    padding: 0 10% 2% 10%;
}
.download{
    padding-bottom: 10%;
}
footer{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    background-color: hsl(200, 71%, 96%);
}
.logo{
    width: 20%; 
    margin: 15%; 
}
.Lists{
    margin: 4%;
}
#list{
    text-align: left;
    margin-top: 8%;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 4%;
}  
ul li a{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}
ul li a:hover{
    color: hsl(171, 66%, 44%);
}
.icons i{
    margin: 15% 3%;
    color: hsl(210, 10%, 33%);
}
.icons i:hover{
    color: hsl(171, 66%, 44%);
}


@media (max-width: 375px) {
    *{
        padding-left: 1%;
        padding-right: 1%;
    }
    header{
        background-image: url("../clipboard-landing-page-master/images/bg-header-mobile.png"); 
        background-repeat: no-repeat;
    }
    header img{
        width: 20%;
        padding: 20% 0 10% 0;
    }
    header h1{
        font-size: 40px;
    }
    h1, h2, h3, h4{
        line-height: 1;
    }
    p{
        padding: 4% 8%;
    }
    button{
        width: 80%;
        margin: 3% 0.5%;
        padding: 3%;
    }
    #features{
        margin-top: 13%;
    }
    .feat{
        display: block;
        padding: 5%;
    }
    .feat img{
        width: 100%
    }
    #content h2, p{
        text-align: center;
        padding: 2% 0;
    }
    .access h3{
        margin: 0 7% 3% 7%;
    }
    .access img{
        margin-top: 10%;
        width: 100%;
    }
    .ad-box{
        display: block;
        padding: 5% 1% ;
    }
    #advantages{
        margin: 10% 0;
    }
    #advantages img{
        width: 10%;
        margin: 2%;
    }
    #advantages h3{
        font-size: 23px;
    }
    .sponsor{
        display: block;
        margin: 15% 0;
        padding: 0 10% 2% 10%;
    }
    .sponsor img{
        margin: 10% 0;
    }
    .download h2{
        margin: 4% 15%;
        line-height: 1.2;
    }
    .download p{
        padding: 0 9%;
        margin-bottom: 7%;
    }
    footer{
        display: block;
        text-align: center;
    }
    .logo{
        width: 20%; 
        margin: 10% 0 10% 0; 
    }
    #list{
        text-align: center;
        margin-top: 0;
        padding: 0 10%;
    }
    .Lists{
        margin: 0;
    }
    ul{
        display: block;
        width: 100%
    }
    ul li{
        display: inline-block;
        list-style: none;
        margin: 4%;
    }
    .icons i{
        margin: 3% 2% 10% 2%;
    } 
}